@import "./variables.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-primary: #{$background-primary};
  --background-secondary: #{$background-secondary};
  --background-ternary: #{$background-ternary};
  --shadow-color: #{$shadow-color};
  --text-primary: #{$text-primary};
}
h2 {
  font-size: 20px;
  font-weight: 200;
  color: var(--text-primary);
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
