@import "./variables.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-primary: #{$background-primary};
  --background-secondary: #{$background-secondary};
  --background-ternary: #{$background-ternary};
  --shadow-dark: #{$shadow-dark};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
  --text-highlight: #{$text-highlight};
  --text-sm: #{$text-sm};
  --text-ml: #{$text-ml};
  --text-xl: #{$text-xl};
  --text-2x: #{$text-2x};
  --icon-color: #{$icon-color};
}
h2 {
  font-size: 25px;
  font-weight: 200;
  color: var(--text-primary);
  margin: 0;
}
p {
  color: var(--text-primary);
  margin: 0;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
