$background-primary: #010101; //dark
$background-secondary: #313131; // middle
$background-ternary: #404040; // light

$shadow-dark: #010101;
$text-primary: #FAF9F6;
$text-highlight: #d4af37;

$text-sm: 10px;
$text-ml: 14px;
$text-xl: 16px;
$text-2x: 25px;

$icon-color: #d4af37;




//light theme
// $background-primary: #faf9f6;
// $background-secondary: #f1eee6;
// $background-ternary: #dfd8c5;
// $shadow-color: #c8c7c4;
// $text-primary: #484640;
// $text-highlight: #c8c7c4;
// $header-footer-color: #333;
// $header-footer-text-color: white;
// $primary-color: #3498db;
// $secondary-color: #2ecc71;
// $text-color: #333;

//https://htmlcolorcodes.com/colors/shades-of-white/
