$background-primary: #faf9f6;
$background-secondary: #f1eee6;
$background-ternary: #dfd8c5;
$shadow-color: #c8c7c4;
$text-primary: #484640;
// $header-footer-color: #333;
// $header-footer-text-color: white;
// $primary-color: #3498db;
// $secondary-color: #2ecc71;
// $text-color: #333;

//https://htmlcolorcodes.com/colors/shades-of-white/
