@import "../../styles/index.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.wrapperDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.cardContacts {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 10px;
}
.containerAvatar {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.title {
  font-size: var(--text-xl);
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--background-ternary);
}
.name {
  font-size: var(--text-2x);
}

