@import "../../styles/index.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;

  .containerAvatar {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    overflow: hidden;

    .avatar {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .containerDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .name {
      font-size: var(--text-2x);
      margin: 0;
      color: var(--text-primary);
    }

    .title {
      font-size: var(--text-xl);
      color: var(--text-primary);
      padding: 7px 15px;
      border-radius: 7px;
      background-color: var(--background-ternary);
    }
  }

  .containerContacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;

    .contactCard {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;

      .contacts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .label {
          font-size: var(--text-sm);
          color: var(--text-secondary);
          text-transform: uppercase;
          margin: 0;
        }
        .info {
          font-size: var(--text-ml);
          color: var(--text-primary);
          margin: 0;
        }
      }
    }
  }
}
